.title {
    text-align: center;
    margin: 20px;
    font-family: 'Cute Font', cursive;
    font-size: 60px;
}

.title2 {
    font-size: 45px;
    font-family: 'Cute Font', cursive;
    text-align: center;
    margin: 20px;
}